
.title{
    text-align: center;
    padding:30px 20%;
    margin: 40px auto;
    border-top: 1px dotted rgba(19, 19, 24, 0.60);
    border-bottom: 1px dotted rgba(19, 19, 24, 0.60);
}
.title h2{
    color: #131318;
    font-family: Manrope;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.title p{
    color: rgba(19, 19, 24, 0.60);
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
}
.red-btn{
    border-radius: 8px;
    background: #FF4240;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.active, .navbar li:hover{
   color: #FF4240;
    border-radius: 8px;
}
.products-content{
    color:rgba(19, 19, 24, 0.60);
}
section{
    padding: 0 15px;
}